.Rproj.user
.Rhistory
.RData
.Ruserdata
twins_microbiome_pipeline.Rproj

tax_green_genes/gg_13_8_otus/taxonomy/*
tax_green_genes/gg_13_8_otus/otus/*
tax_green_genes/gg_13_8_otus/rep_set/*
tax_green_genes/gg_13_8_otus/rep_set_aligned/*
tax_green_genes/gg_13_8_otus/trees/*
tax_green_genes/gg_13_8_otus/notes

data_set_twin/raw/*
data_set_twin/files_intermediate_qiime/*
data_set_twin/reports_generated/*

data_set_bodyfl/raw/*
data_set_bodyfl/reports_generated/*

Docs/*